.App{
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.contededor-cabecera {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}